{
  "project_info": {
    "project_number": "123456789000",
    "project_id": "expyrico-example",
    "storage_bucket": "expyrico-example.appspot.com",
    "firebase_url": "https://expyrico-example-default-rtdb.firebaseio.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:123456789000:android:0000000000000000",
        "android_client_info": {
          "package_name": "com.expyrico.app"
        }
      },
      "oauth_client": [
        {
          "client_id": "123456789000-abcdefghijklmnopqrstuvwxyz.apps.googleusercontent.com",
          "client_type": 3
        }
      ],
      "api_key": [
        {
          "current_key": "AIzaSy00000000000000000000000000000000000"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": [
            {
              "client_id": "123456789000-abcdefghijklmnopqrstuvwxyz.apps.googleusercontent.com",
              "client_type": 3
            }
          ]
        }
      }
    }
  ],
  "configuration_version": "1"
}
